<nav id="nav-bar">
    <div id="appName">
        <a href="/" id="home-button">Home</a>
        <input id="search-bar" name="search-bar" type="text">
        <a href="/postimage" id="post-button">Post</a>
        {{#if logged}}
        <a id="login-button">Log Out</a>
        {{else}}
        <a href="/login" id="login-button">Log In</a>
        {{/if}}
    </div>
</nav>