<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/public/css/decoration.css">
        <script defer src="../js/validation.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        {{{body}}}
        {{> footer}}
    </body>
</html>