<header style="font-size:1.7vw">Which Image?</header>
<form>
    <label id="normal">Post Title:</label>
    <input type="text" />
    <br />
    <label id="normal">Post Author:</label>
    <input type="text" />
    <br />
    <label id="normal">Post Creation Time:</label>
    <input type="time" id="time" />
    <input type="date" id="time" />
    <br />
    <label id="normal">Image Name:</label>
    <input type="text" />
    <br />
    <button type="submit">Submit</button>
    <br />
</form>