<header style="font-size:1.7vw">Login Here</header>
<form>
    <label id="normal">Username:</label>
    <input type=text />
    <br />
    <label id="normal">Password:</label>
    <input type="password" />
    <br />
    <button type="submit">Submit</button>
</form>