<header style="font-size:1.7vw">Post Your Image</header>
<form method="POST" enctype="multipart/form-data" action='/posts/createPost'>
    <label id="normal">Title:</label>
    <input type="text" required name="title"/>
    <br />
    <label id="normal">Description:</label>
    <input type="text" required name="description"/>
    <br />
    <label id="normal">Image File:</label>
    <input type="file" id="fileinput" accept="image/*" required name="uploadImage" />
    <br />
    <input type="checkbox" id="Policy" required />
    <label for="Policy" id="checkmark">Accept our </label>
    <a id="information" href="">use policy for uploading images</a>
    <br />
    <button type="submit">Submit</button>
    <br />
</form>